@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

textarea {
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    overflow-y: hidden;
    resize: none;
    color: rgba(255, 255, 255, 0.25);
    height: 100vh;
    width: 40vw;
    outline: none;
    font-size: 2em;
    font-weight: 600;
}

.textarea {
    position: absolute;
    right: 2%;
    z-index: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    overflow: hidden;
}

.click {
    background: #10B981; /* Tailwind Green 500 */
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#count {
    font-weight: 900;
    font-size: 10em;
    opacity: 50%;
}

#dcCount {
    font-weight: 900;
    font-size: 2em;
    opacity: 50%;
}

#reset {
    font-size: .75em;
    font-weight: 700;
    border: 0;
    color: #047857;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 0.45rem;
    padding: .5em 2em .5em 2em;
    margin-top: 1em;
    cursor: pointer;
}

.labelText {
    opacity: 75%;
}